{
  "openapi": "3.1.0",
  "info": {
    "title": "GKB",
    "description": "De GKB API laat toe om zorgvoorzieningen, gebruikers en locaties te beheren via een command/event-driven aanpak.",
    "contact": {
      "email": "data.zorg@vlaanderen.be"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Technische Documentatie",
    "url": "http://eyouth.local/docs"
  },
  "servers": [
    {
      "url": "https://www.int.gkb.vlaanderen.be/REST/GKB",
      "description": "Integration"
    },
    {
      "url": "https://www.acc.gkb.vlaanderen.be/REST/GKB",
      "description": "Acceptation"
    },
    {
      "url": "https://gkb.vlaanderen.be/REST/GKB",
      "description": "Production"
    },
    {
      "url": "http://localhost:8081/REST/GKB",
      "description": "Development"
    },
    {
      "url": "http://gkb.vlaanderen.test.paas.vasdc.be/REST/GKB",
      "description": "Test (Only available within Smals internal network)"
    }
  ],
  "security": [
    {
      "Moose_Int": []
    },
    {
      "Moose_Test": []
    }
  ],
  "tags": [
    {
      "name": "Agentschappen",
      "description": "Een agentschap is een organisatie of instelling die een bepaalde taak of opdracht uitvoert namens een overheid en is na gemeenschap de hoogste entiteit binnen GKB. Voorbeelden hiervan zijn VAZG, WVG, Opgroeien, enz."
    },
    {
      "name": "Conflicten",
      "description": "Een Conflict is een registrerend/orkestrerend aggregate dat vastlegt dat een cross-aggregate invariant (DDD) werd geschonden. Het bewaart de workflowstatus en verwijzingen naar gerelateerde entiteiten, en dient als startpunt voor opvolging en (asynchrone) compensaties. Het Conflict zelf voert GEEN synchroon beleid over meerdere aggregates; detectie gebeurt typisch via policies die domeinevents correleren"
    },
    {
      "name": "GKB Users",
      "description": "Gebruikers gekend binnen GKB en gelinkt aan een agentschap."
    },
    {
      "name": "GraphQL"
    },
    {
      "name": "Inrichtende machten",
      "description": "Zorgvoorzieningen worden opgericht door een inrichtende macht. Dit zijn meestal organisaties die bekend zijn binnen het KBO (Kruispuntbank van Ondernemingen)."
    },
    {
      "name": "Locaties",
      "description": "Operaties op Locaties die gekend zijn binnen GKB."
    },
    {
      "name": "Samenwerkingsverbanden",
      "description": "Een samenwerkingsverband bestaat doorgaans uit meerdere zorgvoorzieningen die samenwerken om bijvoorbeeld bepaalde zorgactiviteiten aan te bieden."
    },
    {
      "name": "Samenwerkingsverbandstypes",
      "description": "Een Samenwerkingsverbandstype bevat een code, naam en is gelinkt aan een agentschap."
    },
    {
      "name": "Service",
      "description": ""
    },
    {
      "name": "Uitbatingsplaatsen",
      "description": "Een zorgvoorziening kan uit één of meerdere uitbatingsplaatsen bestaan."
    },
    {
      "name": "Zorgactiviteiten",
      "description": "Iedere zorgvoorziening is erkend voor een of meerdere activiteiten door haar erkennende overheid. Elke erkennende overheid beheert een eigen lijst met activiteiten."
    },
    {
      "name": "Zorgactiviteitstypes",
      "description": "Zorgactiviteitstype bevat een zorgactiviteitscode en de zorgactiviteitstype hangt aan een agentschap (en heeft een naam, CoBRHA+ code, ...)"
    },
    {
      "name": "Zorgvoorzieningen",
      "description": "Een zorgvoorziening is een entiteit die erkend wordt door een agentschap en een HCO-nummer krijgt."
    },
    {
      "name": "Zorgvoorzieningstypes",
      "description": "Een zorgvoorziening heeft exact één zorgvoorzieningstype, gedefinieerd door het agentschap. Dit bepaalt de aard van de voorziening."
    },
    {
      "name": "Allowed Commands",
      "description": "Toegestane commando's at runtime"
    },
    {
      "name": "Commands",
      "description": "De doorgestuurde commando's."
    },
    {
      "name": "Events",
      "description": "De geregistreerde gebeurtenissen in GKB."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Service"
        ],
        "operationId": "index",
        "parameters": [
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/LandingPage"
                }
              }
            }
          }
        }
      }
    },
    "/agentschap/{identifier}/allowed-commands": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Voorbeeld van een toegestaan command, gegeven zijn urn",
        "operationId": "getAllowedCommandsByIdentifier",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actions",
            "in": "query",
            "description": "filter op acties",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResource"
                }
              }
            }
          }
        }
      }
    },
    "/agentschap/{identifier}/allowed-commands/{actionName}": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Voorbeeld van een toegestaan command, gegeven zijn urn, toegepast op dit agentschap",
        "operationId": "getAllowedCommandByIdentifierAndCommand",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "urn",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCommandHolder"
                }
              }
            }
          }
        }
      }
    },
    "/agentschap/{identifier}/allowed-commands/{actionName}/{version}": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Voorbeeld van een toegestaan command, gegeven zijn urn, toegepast op dit agentschap",
        "operationId": "getAllowedCommandByIdentifierAndCommandAndVersion",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "urn",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCommandHolder"
                }
              }
            }
          }
        }
      }
    },
    "/agentschappen": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Lijst alle agentschappen op",
        "operationId": "listAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/agentschappen/{identifier}": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Een agentschap ophalen gegeven zijn id",
        "operationId": "getAgentschapById",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agentschap"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Agentschap"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/agentschappen/{identifier}/commands": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Oplijsting van alle commands uitgevoerd op een Agentschap",
        "operationId": "getCommandsByIdentifier",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Een command uitvoeren op een agentschap",
        "operationId": "performCommand",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout in seconden",
            "required": false,
            "schema": {
              "maximum": 29,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "description": "beschikbare commando's: [Available Commands](./available-commands).",
          "content": {
            "application/json": {
              "schema": {
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "urn:gkb:uitbatingsplaats:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegUitbatingsplaatsRekeningnummerToeCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-inrichtende-macht:v1": "#/components/schemas/WijzigInrichtendeMachtCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:verwijder:v1": "#/components/schemas/VerwijderSamenwerkingsverbandstypeCommand",
                    "urn:gkb:zorgvoorziening:command:verwijder:v1": "#/components/schemas/VerwijderZorgvoorzieningCommand",
                    "urn:gkb:zorgactiviteit:command:activeer:v1": "#/components/schemas/ActiveerZorgactiviteitCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:wijzig-samenwerkingsverbandstype:v1": "#/components/schemas/WijzigSamenwerkingsverbandstypeCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-zorgvoorziening:v1": "#/components/schemas/WijzigZorgvoorzieningCommand",
                    "urn:gkb:zorgvoorziening:command:heractiveer:v1": "#/components/schemas/HeractiveerZorgvoorzieningCommand",
                    "urn:gkb:samenwerkingsverband:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegSamenwerkingsverbandContactpersoonToeCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/InrichtendeMachtWijzigErkenningsperiodesCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-esr-code:v1": "#/components/schemas/WijzigInrichtendeMachtEsrCodeCommand",
                    "urn:gkb:uitbatingsplaats:command:heractiveer:v1": "#/components/schemas/HeractiveerUitbatingsplaatsCommand",
                    "urn:gkb:samenwerkingsverband:command:ontkoppel-zorgvoorziening:v1": "#/components/schemas/OntkoppelZorgvoorzieningVanSamenwerkingsverbandCommand",
                    "urn:gkb:inrichtende-macht:command:activeer:v1": "#/components/schemas/ActiveerInrichtendeMachtCommand",
                    "urn:gkb:samenwerkingsverband:command:maak-samenwerkingsverband-aan:v1": "#/components/schemas/MaakSamenwerkingsverbandAanCommand",
                    "urn:gkb:zorgvoorziening:command:neem-zorgvoorziening-over:v1": "#/components/schemas/NeemZorgvoorzieningOverCommand",
                    "urn:gkb:uitbatingsplaats:command:hef-schorsing-op:v1": "#/components/schemas/HefSchorsingUitbatingsplaatsOpCommand",
                    "urn:gkb:uitbatingsplaats:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderUitbatingsplaatsRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:zet-stop:v1": "#/components/schemas/ZetZorgvoorzieningStopCommand",
                    "urn:gkb:uitbatingsplaats:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegUitbatingsplaatsContactpersoonToeCommand",
                    "urn:gkb:zorgvoorziening:command:maak-zorgvoorziening-aan:v1": "#/components/schemas/MaakZorgvoorzieningAanCommand",
                    "urn:gkb:uitbatingsplaats:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderUitbatingsplaatsContactpersoonCommand",
                    "urn:gkb:zorgvoorzieningstype:command:wijzig-zorgvoorzieningstype:v1": "#/components/schemas/WijzigZorgvoorzieningstypeCommand",
                    "urn:gkb:zorgvoorziening:command:hef-schorsing-op:v1": "#/components/schemas/HefSchorsingZorgvoorzieningOpCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigSamenwerkingsverbandContactpersoonCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigSamenwerkingsverbandRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:schors:v1": "#/components/schemas/SchorsZorgvoorzieningCommand",
                    "urn:gkb:uitbatingsplaats:command:voeg-sub-uitbatingsplaats-toe:v1": "#/components/schemas/VoegSubUitbatingsplaatsToeCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigUitbatingsplaatsContactpersoonCommand",
                    "urn:gkb:uitbatingsplaats:command:schors:v1": "#/components/schemas/SchorsUitbatingsplaatsCommand",
                    "urn:gkb:samenwerkingsverband:command:voeg-zorgactiviteit-toe:v1": "#/components/schemas/VoegSamenwerkingsverbandZorgactiviteitToeCommand",
                    "urn:gkb:zorgactiviteit:command:verwijder:v1": "#/components/schemas/VerwijderZorgactiviteitCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigUitbatingsplaatsRekeningnummerCommand",
                    "urn:gkb:inrichtende-macht:command:maak-inrichtende-macht-aan:v1": "#/components/schemas/MaakInrichtendeMachtAanCommand",
                    "urn:gkb:inrichtende-macht:command:zet-stop:v1": "#/components/schemas/ZetInrichtendeMachtStopCommand",
                    "urn:gkb:samenwerkingsverband:command:koppel-zorgvoorziening:v1": "#/components/schemas/KoppelZorgvoorzieningAanSamenwerkingsverbandCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-samenwerkingsverband:v1": "#/components/schemas/WijzigSamenwerkingsverbandCommand",
                    "urn:gkb:zorgvoorzieningstype:command:maak-aan:v1": "#/components/schemas/MaakZorgvoorzieningstypeAanCommand",
                    "urn:gkb:uitbatingsplaats:command:verwijder:v1": "#/components/schemas/VerwijderUitbatingsplaatsCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegZorgvoorzieningRekeningnummerToeCommand",
                    "urn:gkb:samenwerkingsverband:command:zet-stop:v1": "#/components/schemas/ZetSamenwerkingsverbandStopCommand",
                    "urn:gkb:samenwerkingsverband:command:heractiveer:v1": "#/components/schemas/HeractiveerSamenwerkingsverbandCommand",
                    "urn:gkb:inrichtende-macht:command:heractiveer:v1": "#/components/schemas/HeractiveerInrichtendeMachtCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegZorgvoorzieningContactpersoonToeCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigZorgvoorzieningRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:herstel:v1": "#/components/schemas/HerstelZorgvoorzieningCommand",
                    "urn:gkb:samenwerkingsverband:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderSamenwerkingsverbandRekeningnummerCommand",
                    "urn:gkb:samenwerkingsverband:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderSamenwerkingsverbandContactpersoonCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigZorgvoorzieningContactpersoonCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:maak-aan:v1": "#/components/schemas/MaakSamenwerkingsverbandstypeAanCommand",
                    "urn:gkb:zorgactiviteit:command:schors:v1": "#/components/schemas/SchorsZorgactiviteitCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/SamenwerkingsverbandWijzigErkenningsperiodesCommand",
                    "urn:gkb:zorgactiviteitstype:command:verwijder:v1": "#/components/schemas/VerwijderZorgactiviteitstypeCommand",
                    "urn:gkb:samenwerkingsverband:command:herstel:v1": "#/components/schemas/HerstelSamenwerkingsverbandCommand",
                    "urn:eyouth:locatie:command:create:v1": "#/components/schemas/CreateLocatieCommand",
                    "urn:gkb:uitbatingsplaats:command:activeer:v1": "#/components/schemas/ActiveerUitbatingsplaatsCommand",
                    "urn:gkb:zorgvoorziening:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderZorgvoorzieningContactpersoonCommand",
                    "urn:gkb:zorgactiviteit:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/ZorgactiviteitWijzigErkenningsperiodesCommand",
                    "urn:gkb:zorgvoorziening:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderZorgvoorzieningRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/ZorgvoorzieningWijzigErkenningsperiodesCommand",
                    "urn:gkb:zorgactiviteitstype:command:wijzig-zorgactiviteitstype:v1": "#/components/schemas/WijzigZorgactiviteitstypeCommand",
                    "urn:gkb:uitbatingsplaats:command:herstel:v1": "#/components/schemas/HerstelUitbatingsplaatsCommand",
                    "urn:gkb:zorgactiviteit:command:zet-stop:v1": "#/components/schemas/ZetZorgactiviteitStopCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/UitbatingsplaatsWijzigErkenningsperiodesCommand",
                    "urn:gkb:inrichtende-macht:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderInrichtendeMachtContactpersoonCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-uitbatingsplaats-toe:v1": "#/components/schemas/VoegUitbatingsplaatsToeCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-uitbatingsplaats:v1": "#/components/schemas/WijzigUitbatingsplaatsCommand",
                    "urn:gkb:zorgvoorziening:command:activeer:v1": "#/components/schemas/ActiveerZorgvoorzieningCommand",
                    "urn:gkb:inrichtende-macht:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderInrichtendeMachtRekeningnummerCommand",
                    "urn:gkb:inrichtende-macht:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegInrichtendeMachtRekeningnummerToeCommand",
                    "urn:gkb:uitbatingsplaats:command:voeg-zorgactiviteit-toe:v1": "#/components/schemas/VoegUitbatingsplaatsZorgactiviteitToeCommand",
                    "urn:gkb:zorgactiviteit:command:heractiveer:v1": "#/components/schemas/HeractiveerZorgactiviteitCommand",
                    "urn:gkb:zorgvoorzieningstype:command:verwijder:v1": "#/components/schemas/VerwijderZorgvoorzieningstypeCommand",
                    "urn:gkb:zorgactiviteit:command:hef-schorsing-op:v1": "#/components/schemas/HefSchorsingZorgactiviteitOpCommand",
                    "urn:gkb:uitbatingsplaats:command:zet-stop:v1": "#/components/schemas/ZetUitbatingsplaatsStopCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigInrichtendeMachtContactpersoonCommand",
                    "urn:gkb:zorgactiviteitstype:command:maak-aan:v1": "#/components/schemas/MaakZorgactiviteitstypeAanCommand",
                    "urn:gkb:samenwerkingsverband:command:activeer:v1": "#/components/schemas/ActiveerSamenwerkingsverbandCommand",
                    "urn:gkb:samenwerkingsverband:command:neem-samenwerkingsverband-over:v1": "#/components/schemas/NeemSamenwerkingsverbandOverCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigInrichtendeMachtRekeningnummerCommand",
                    "urn:gkb:zorgactiviteit:command:wijzig-erkenningsnummer:v1": "#/components/schemas/WijzigZorgactiviteitErkenningsnummerCommand",
                    "urn:gkb:inrichtende-macht:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegInrichtendeMachtContactpersoonToeCommand",
                    "urn:gkb:samenwerkingsverband:command:verwijder:v1": "#/components/schemas/VerwijderSamenwerkingsverbandCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-zorgactiviteit-toe:v1": "#/components/schemas/VoegZorgvoorzieningZorgactiviteitToeCommand",
                    "urn:gkb:user:command:maak-user-aan-op-basis-van-huidig-token:v1": "#/components/schemas/MaakUserAanOpBasisVanHuidigTokenCommand",
                    "urn:gkb:samenwerkingsverband:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegSamenwerkingsverbandRekeningnummerToeCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-zorgvoorzieningstype:v1": "#/components/schemas/WijzigZorgvoorzieningZorgvoorzieningstypeCommand",
                    "urn:gkb:agentschap:command:start-fusie:v1": "#/components/schemas/StartAgentschapFusieCommand"
                  }
                },
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ActiveerInrichtendeMachtCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HefSchorsingUitbatingsplaatsOpCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HefSchorsingZorgactiviteitOpCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HefSchorsingZorgvoorzieningOpCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerInrichtendeMachtCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HerstelSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HerstelUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HerstelZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/InrichtendeMachtWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/KoppelZorgvoorzieningAanSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakInrichtendeMachtAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakSamenwerkingsverbandAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakSamenwerkingsverbandstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakUserAanOpBasisVanHuidigTokenCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgactiviteitstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgvoorzieningAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgvoorzieningstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/NeemSamenwerkingsverbandOverCommand"
                  },
                  {
                    "$ref": "#/components/schemas/NeemZorgvoorzieningOverCommand"
                  },
                  {
                    "$ref": "#/components/schemas/OntkoppelZorgvoorzieningVanSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SamenwerkingsverbandWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SchorsUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SchorsZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SchorsZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/StartAgentschapFusieCommand"
                  },
                  {
                    "$ref": "#/components/schemas/UitbatingsplaatsWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderInrichtendeMachtContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderInrichtendeMachtRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderUitbatingsplaatsContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderUitbatingsplaatsRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgactiviteitstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegInrichtendeMachtContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegInrichtendeMachtRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSamenwerkingsverbandContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSamenwerkingsverbandRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSamenwerkingsverbandZorgactiviteitToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSubUitbatingsplaatsToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsZorgactiviteitToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegZorgvoorzieningContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegZorgvoorzieningRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegZorgvoorzieningZorgactiviteitToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtEsrCodeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigUitbatingsplaatsContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigUitbatingsplaatsRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgactiviteitErkenningsnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgactiviteitstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningZorgvoorzieningstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetInrichtendeMachtStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetSamenwerkingsverbandStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetUitbatingsplaatsStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetZorgactiviteitStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetZorgvoorzieningStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZorgactiviteitWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZorgvoorzieningWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/CreateLocatieCommand"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/agentschappen/{identifier}/events": {
      "get": {
        "tags": [
          "Agentschappen"
        ],
        "summary": "Oplijsting van alle events van een Agentschap",
        "operationId": "getEventsByIdentifier",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het agentschap",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/allowed-commands": {
      "get": {
        "tags": [
          "Allowed Commands"
        ],
        "summary": "List the allowed creation commands",
        "operationId": "getAllowedCommands",
        "parameters": [
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/allowed-commands/{actionName}": {
      "get": {
        "tags": [
          "Allowed Commands"
        ],
        "operationId": "getAllowedCreationCommandByUrn",
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "description": "The urn name of the command",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCommandHolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/allowed-commands/{actionName}/{version}": {
      "get": {
        "tags": [
          "Allowed Commands"
        ],
        "operationId": "getAllowedCreationCommandByUrnAndVersion",
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "description": "The urn name of the command",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCommandHolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/commands": {
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "Oplijsting van alle commands",
        "operationId": "getCommands",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "incomplete"
              ]
            },
            "example": "incomplete"
          },
          {
            "name": "after",
            "in": "query",
            "description": "na command met dit id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "voor command met dit id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 1000,
              "type": "integer",
              "format": "int32",
              "default": 10,
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "met deze status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACCEPTED",
                "OK",
                "CONFLICT",
                "INTERNAL_SERVER_ERROR",
                "BAD_REQUEST"
              ],
              "description": "* `ACCEPTED` - The system has agreed to perform the command.\n    Further validation happens during processing that may push the Command to the `BAD_REQUEST` state.\n    Most Commands only briefly stay in this state.\n    When a Command remains stuck in `ACCEPTED` it indicates a fault on the server.\n* `OK` - The system successfully performed the command.\n* `BAD_REQUEST` or `CONFLICT` - The system refused to perform the command\n    because there are validation errors.\n* `INTERNAL_SERVER_ERROR` - Sometimes eYouth makes mistakes.\n    Such Internal Server Errors should theoretically never occur.\n    When they do occur these errors are assumed to be transient in nature.\nExamples:\n   - An external service is temporarily down or slow to respond.\n   - A database transaction rollback, due to processing other commands in parallel.\n\nCommands in `INTERNAL_SERVER_ERROR` are retried automatically up to 3 times.\nA command in state `BAD_REQUEST` or `CONFLICT` will not be retried.\nThis is because eYouth assumes that the Command will never succeed.\n"
            }
          },
          {
            "name": "acceptedAfter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "acceptedBefore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Maak een nieuwe gkb user/zorgvoorziening/zorgvoorzieningstype/zorgactiviteitstype/samenwerkingsverbandstype/inrichtende macht aan",
        "operationId": "submitCommand",
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "description": "Maximum tijd (in seconden) om te wachten tot de verwerking is voltooid.\nNa de timeout wordt een '202 Accepted' response gegeven en\nzal het command asynchroon verder verwerkt worden.\n",
            "required": false,
            "schema": {
              "maximum": 29,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "urn:gkb:samenwerkingsverband:command:maak-samenwerkingsverband-aan:v1": "#/components/schemas/MaakSamenwerkingsverbandAanCommand",
                    "urn:gkb:zorgvoorzieningstype:command:maak-aan:v1": "#/components/schemas/MaakZorgvoorzieningstypeAanCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:maak-aan:v1": "#/components/schemas/MaakSamenwerkingsverbandstypeAanCommand",
                    "urn:gkb:zorgactiviteitstype:command:maak-aan:v1": "#/components/schemas/MaakZorgactiviteitstypeAanCommand",
                    "urn:gkb:user:command:maak-user-aan-op-basis-van-huidig-token:v1": "#/components/schemas/MaakUserAanOpBasisVanHuidigTokenCommand",
                    "urn:gkb:zorgvoorziening:command:maak-zorgvoorziening-aan:v1": "#/components/schemas/MaakZorgvoorzieningAanCommand",
                    "urn:gkb:inrichtende-macht:command:maak-inrichtende-macht-aan:v1": "#/components/schemas/MaakInrichtendeMachtAanCommand",
                    "urn:gkb:agentschap:command:start-fusie:v1": "#/components/schemas/StartAgentschapFusieCommand"
                  }
                },
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/MaakUserAanOpBasisVanHuidigTokenCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgvoorzieningAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgvoorzieningstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgactiviteitstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakSamenwerkingsverbandstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakSamenwerkingsverbandAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakInrichtendeMachtAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/StartAgentschapFusieCommand"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/commands/{commandId}": {
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "Command by id",
        "operationId": "getById",
        "parameters": [
          {
            "name": "commandId",
            "in": "path",
            "description": "Het id van het command",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/commands/{commandId}/creator": {
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "Creator van het Command",
        "operationId": "getCreatorById",
        "parameters": [
          {
            "name": "commandId",
            "in": "path",
            "description": "Het id van het command",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Creator"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/conflicten": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Lijst alle conflicten op",
        "operationId": "listAll_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/conflicten/{identifier}": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Een conflict ophalen gegeven zijn id",
        "operationId": "getConflictById",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              },
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/conflicten/{identifier}/allowed-commands": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Voorbeeld van een toegestaan command, gegeven zijn urn",
        "operationId": "getAllowedCommandsByIdentifier_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actions",
            "in": "query",
            "description": "filter op acties",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResource"
                }
              }
            }
          }
        }
      }
    },
    "/conflicten/{identifier}/allowed-commands/{actionName}": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Voorbeeld van een toegestaan command, gegeven zijn urn, toegepast op dit conflict",
        "operationId": "getAllowedCommandByIdentifierAndCommand_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "urn",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCommandHolder"
                }
              }
            }
          }
        }
      }
    },
    "/conflicten/{identifier}/allowed-commands/{actionName}/{version}": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Voorbeeld van een toegestaan command, gegeven zijn urn, toegepast op dit conflict",
        "operationId": "getAllowedCommandByIdentifierAndCommandAndVersion_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "urn",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCommandHolder"
                }
              }
            }
          }
        }
      }
    },
    "/conflicten/{identifier}/commands": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Oplijsting van alle commands uitgevoerd op een Conflict",
        "operationId": "getCommandsByIdentifier_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Een command uitvoeren op een conflict",
        "operationId": "performCommand_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout in seconden",
            "required": false,
            "schema": {
              "maximum": 29,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "description": "beschikbare commando's: [Available Commands](./available-commands).",
          "content": {
            "application/json": {
              "schema": {
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "urn:gkb:uitbatingsplaats:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegUitbatingsplaatsRekeningnummerToeCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-inrichtende-macht:v1": "#/components/schemas/WijzigInrichtendeMachtCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:verwijder:v1": "#/components/schemas/VerwijderSamenwerkingsverbandstypeCommand",
                    "urn:gkb:zorgvoorziening:command:verwijder:v1": "#/components/schemas/VerwijderZorgvoorzieningCommand",
                    "urn:gkb:zorgactiviteit:command:activeer:v1": "#/components/schemas/ActiveerZorgactiviteitCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:wijzig-samenwerkingsverbandstype:v1": "#/components/schemas/WijzigSamenwerkingsverbandstypeCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-zorgvoorziening:v1": "#/components/schemas/WijzigZorgvoorzieningCommand",
                    "urn:gkb:zorgvoorziening:command:heractiveer:v1": "#/components/schemas/HeractiveerZorgvoorzieningCommand",
                    "urn:gkb:samenwerkingsverband:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegSamenwerkingsverbandContactpersoonToeCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/InrichtendeMachtWijzigErkenningsperiodesCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-esr-code:v1": "#/components/schemas/WijzigInrichtendeMachtEsrCodeCommand",
                    "urn:gkb:uitbatingsplaats:command:heractiveer:v1": "#/components/schemas/HeractiveerUitbatingsplaatsCommand",
                    "urn:gkb:samenwerkingsverband:command:ontkoppel-zorgvoorziening:v1": "#/components/schemas/OntkoppelZorgvoorzieningVanSamenwerkingsverbandCommand",
                    "urn:gkb:inrichtende-macht:command:activeer:v1": "#/components/schemas/ActiveerInrichtendeMachtCommand",
                    "urn:gkb:samenwerkingsverband:command:maak-samenwerkingsverband-aan:v1": "#/components/schemas/MaakSamenwerkingsverbandAanCommand",
                    "urn:gkb:zorgvoorziening:command:neem-zorgvoorziening-over:v1": "#/components/schemas/NeemZorgvoorzieningOverCommand",
                    "urn:gkb:uitbatingsplaats:command:hef-schorsing-op:v1": "#/components/schemas/HefSchorsingUitbatingsplaatsOpCommand",
                    "urn:gkb:uitbatingsplaats:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderUitbatingsplaatsRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:zet-stop:v1": "#/components/schemas/ZetZorgvoorzieningStopCommand",
                    "urn:gkb:uitbatingsplaats:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegUitbatingsplaatsContactpersoonToeCommand",
                    "urn:gkb:zorgvoorziening:command:maak-zorgvoorziening-aan:v1": "#/components/schemas/MaakZorgvoorzieningAanCommand",
                    "urn:gkb:uitbatingsplaats:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderUitbatingsplaatsContactpersoonCommand",
                    "urn:gkb:zorgvoorzieningstype:command:wijzig-zorgvoorzieningstype:v1": "#/components/schemas/WijzigZorgvoorzieningstypeCommand",
                    "urn:gkb:zorgvoorziening:command:hef-schorsing-op:v1": "#/components/schemas/HefSchorsingZorgvoorzieningOpCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigSamenwerkingsverbandContactpersoonCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigSamenwerkingsverbandRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:schors:v1": "#/components/schemas/SchorsZorgvoorzieningCommand",
                    "urn:gkb:uitbatingsplaats:command:voeg-sub-uitbatingsplaats-toe:v1": "#/components/schemas/VoegSubUitbatingsplaatsToeCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigUitbatingsplaatsContactpersoonCommand",
                    "urn:gkb:uitbatingsplaats:command:schors:v1": "#/components/schemas/SchorsUitbatingsplaatsCommand",
                    "urn:gkb:samenwerkingsverband:command:voeg-zorgactiviteit-toe:v1": "#/components/schemas/VoegSamenwerkingsverbandZorgactiviteitToeCommand",
                    "urn:gkb:zorgactiviteit:command:verwijder:v1": "#/components/schemas/VerwijderZorgactiviteitCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigUitbatingsplaatsRekeningnummerCommand",
                    "urn:gkb:inrichtende-macht:command:maak-inrichtende-macht-aan:v1": "#/components/schemas/MaakInrichtendeMachtAanCommand",
                    "urn:gkb:inrichtende-macht:command:zet-stop:v1": "#/components/schemas/ZetInrichtendeMachtStopCommand",
                    "urn:gkb:samenwerkingsverband:command:koppel-zorgvoorziening:v1": "#/components/schemas/KoppelZorgvoorzieningAanSamenwerkingsverbandCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-samenwerkingsverband:v1": "#/components/schemas/WijzigSamenwerkingsverbandCommand",
                    "urn:gkb:zorgvoorzieningstype:command:maak-aan:v1": "#/components/schemas/MaakZorgvoorzieningstypeAanCommand",
                    "urn:gkb:uitbatingsplaats:command:verwijder:v1": "#/components/schemas/VerwijderUitbatingsplaatsCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegZorgvoorzieningRekeningnummerToeCommand",
                    "urn:gkb:samenwerkingsverband:command:zet-stop:v1": "#/components/schemas/ZetSamenwerkingsverbandStopCommand",
                    "urn:gkb:samenwerkingsverband:command:heractiveer:v1": "#/components/schemas/HeractiveerSamenwerkingsverbandCommand",
                    "urn:gkb:inrichtende-macht:command:heractiveer:v1": "#/components/schemas/HeractiveerInrichtendeMachtCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegZorgvoorzieningContactpersoonToeCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigZorgvoorzieningRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:herstel:v1": "#/components/schemas/HerstelZorgvoorzieningCommand",
                    "urn:gkb:samenwerkingsverband:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderSamenwerkingsverbandRekeningnummerCommand",
                    "urn:gkb:samenwerkingsverband:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderSamenwerkingsverbandContactpersoonCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigZorgvoorzieningContactpersoonCommand",
                    "urn:gkb:samenwerkingsverbandstype:command:maak-aan:v1": "#/components/schemas/MaakSamenwerkingsverbandstypeAanCommand",
                    "urn:gkb:zorgactiviteit:command:schors:v1": "#/components/schemas/SchorsZorgactiviteitCommand",
                    "urn:gkb:samenwerkingsverband:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/SamenwerkingsverbandWijzigErkenningsperiodesCommand",
                    "urn:gkb:zorgactiviteitstype:command:verwijder:v1": "#/components/schemas/VerwijderZorgactiviteitstypeCommand",
                    "urn:gkb:samenwerkingsverband:command:herstel:v1": "#/components/schemas/HerstelSamenwerkingsverbandCommand",
                    "urn:eyouth:locatie:command:create:v1": "#/components/schemas/CreateLocatieCommand",
                    "urn:gkb:uitbatingsplaats:command:activeer:v1": "#/components/schemas/ActiveerUitbatingsplaatsCommand",
                    "urn:gkb:zorgvoorziening:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderZorgvoorzieningContactpersoonCommand",
                    "urn:gkb:zorgactiviteit:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/ZorgactiviteitWijzigErkenningsperiodesCommand",
                    "urn:gkb:zorgvoorziening:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderZorgvoorzieningRekeningnummerCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/ZorgvoorzieningWijzigErkenningsperiodesCommand",
                    "urn:gkb:zorgactiviteitstype:command:wijzig-zorgactiviteitstype:v1": "#/components/schemas/WijzigZorgactiviteitstypeCommand",
                    "urn:gkb:uitbatingsplaats:command:herstel:v1": "#/components/schemas/HerstelUitbatingsplaatsCommand",
                    "urn:gkb:zorgactiviteit:command:zet-stop:v1": "#/components/schemas/ZetZorgactiviteitStopCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-erkenningsperiodes:v1": "#/components/schemas/UitbatingsplaatsWijzigErkenningsperiodesCommand",
                    "urn:gkb:inrichtende-macht:command:verwijder-contactpersoon:v1": "#/components/schemas/VerwijderInrichtendeMachtContactpersoonCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-uitbatingsplaats-toe:v1": "#/components/schemas/VoegUitbatingsplaatsToeCommand",
                    "urn:gkb:uitbatingsplaats:command:wijzig-uitbatingsplaats:v1": "#/components/schemas/WijzigUitbatingsplaatsCommand",
                    "urn:gkb:zorgvoorziening:command:activeer:v1": "#/components/schemas/ActiveerZorgvoorzieningCommand",
                    "urn:gkb:inrichtende-macht:command:verwijder-rekeningnummer:v1": "#/components/schemas/VerwijderInrichtendeMachtRekeningnummerCommand",
                    "urn:gkb:inrichtende-macht:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegInrichtendeMachtRekeningnummerToeCommand",
                    "urn:gkb:uitbatingsplaats:command:voeg-zorgactiviteit-toe:v1": "#/components/schemas/VoegUitbatingsplaatsZorgactiviteitToeCommand",
                    "urn:gkb:zorgactiviteit:command:heractiveer:v1": "#/components/schemas/HeractiveerZorgactiviteitCommand",
                    "urn:gkb:zorgvoorzieningstype:command:verwijder:v1": "#/components/schemas/VerwijderZorgvoorzieningstypeCommand",
                    "urn:gkb:zorgactiviteit:command:hef-schorsing-op:v1": "#/components/schemas/HefSchorsingZorgactiviteitOpCommand",
                    "urn:gkb:uitbatingsplaats:command:zet-stop:v1": "#/components/schemas/ZetUitbatingsplaatsStopCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-contactpersoon:v1": "#/components/schemas/WijzigInrichtendeMachtContactpersoonCommand",
                    "urn:gkb:zorgactiviteitstype:command:maak-aan:v1": "#/components/schemas/MaakZorgactiviteitstypeAanCommand",
                    "urn:gkb:samenwerkingsverband:command:activeer:v1": "#/components/schemas/ActiveerSamenwerkingsverbandCommand",
                    "urn:gkb:samenwerkingsverband:command:neem-samenwerkingsverband-over:v1": "#/components/schemas/NeemSamenwerkingsverbandOverCommand",
                    "urn:gkb:inrichtende-macht:command:wijzig-rekeningnummer:v1": "#/components/schemas/WijzigInrichtendeMachtRekeningnummerCommand",
                    "urn:gkb:zorgactiviteit:command:wijzig-erkenningsnummer:v1": "#/components/schemas/WijzigZorgactiviteitErkenningsnummerCommand",
                    "urn:gkb:inrichtende-macht:command:voeg-contactpersoon-toe:v1": "#/components/schemas/VoegInrichtendeMachtContactpersoonToeCommand",
                    "urn:gkb:samenwerkingsverband:command:verwijder:v1": "#/components/schemas/VerwijderSamenwerkingsverbandCommand",
                    "urn:gkb:zorgvoorziening:command:voeg-zorgactiviteit-toe:v1": "#/components/schemas/VoegZorgvoorzieningZorgactiviteitToeCommand",
                    "urn:gkb:user:command:maak-user-aan-op-basis-van-huidig-token:v1": "#/components/schemas/MaakUserAanOpBasisVanHuidigTokenCommand",
                    "urn:gkb:samenwerkingsverband:command:voeg-rekeningnummer-toe:v1": "#/components/schemas/VoegSamenwerkingsverbandRekeningnummerToeCommand",
                    "urn:gkb:zorgvoorziening:command:wijzig-zorgvoorzieningstype:v1": "#/components/schemas/WijzigZorgvoorzieningZorgvoorzieningstypeCommand",
                    "urn:gkb:agentschap:command:start-fusie:v1": "#/components/schemas/StartAgentschapFusieCommand"
                  }
                },
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ActiveerInrichtendeMachtCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ActiveerZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HefSchorsingUitbatingsplaatsOpCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HefSchorsingZorgactiviteitOpCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HefSchorsingZorgvoorzieningOpCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerInrichtendeMachtCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HeractiveerZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HerstelSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HerstelUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/HerstelZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/InrichtendeMachtWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/KoppelZorgvoorzieningAanSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakInrichtendeMachtAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakSamenwerkingsverbandAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakSamenwerkingsverbandstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakUserAanOpBasisVanHuidigTokenCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgactiviteitstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgvoorzieningAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/MaakZorgvoorzieningstypeAanCommand"
                  },
                  {
                    "$ref": "#/components/schemas/NeemSamenwerkingsverbandOverCommand"
                  },
                  {
                    "$ref": "#/components/schemas/NeemZorgvoorzieningOverCommand"
                  },
                  {
                    "$ref": "#/components/schemas/OntkoppelZorgvoorzieningVanSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SamenwerkingsverbandWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SchorsUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SchorsZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/SchorsZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/StartAgentschapFusieCommand"
                  },
                  {
                    "$ref": "#/components/schemas/UitbatingsplaatsWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderInrichtendeMachtContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderInrichtendeMachtRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderSamenwerkingsverbandstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderUitbatingsplaatsContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderUitbatingsplaatsRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgactiviteitCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgactiviteitstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VerwijderZorgvoorzieningstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegInrichtendeMachtContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegInrichtendeMachtRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSamenwerkingsverbandContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSamenwerkingsverbandRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSamenwerkingsverbandZorgactiviteitToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegSubUitbatingsplaatsToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegUitbatingsplaatsZorgactiviteitToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegZorgvoorzieningContactpersoonToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegZorgvoorzieningRekeningnummerToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/VoegZorgvoorzieningZorgactiviteitToeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtEsrCodeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigInrichtendeMachtRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigSamenwerkingsverbandstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigUitbatingsplaatsCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigUitbatingsplaatsContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigUitbatingsplaatsRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgactiviteitErkenningsnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgactiviteitstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningContactpersoonCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningRekeningnummerCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningZorgvoorzieningstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/WijzigZorgvoorzieningstypeCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetInrichtendeMachtStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetSamenwerkingsverbandStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetUitbatingsplaatsStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetZorgactiviteitStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZetZorgvoorzieningStopCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZorgactiviteitWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/ZorgvoorzieningWijzigErkenningsperiodesCommand"
                  },
                  {
                    "$ref": "#/components/schemas/CreateLocatieCommand"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommandHolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/conflicten/{identifier}/events": {
      "get": {
        "tags": [
          "Conflicten"
        ],
        "summary": "Oplijsting van alle events van een Conflict",
        "operationId": "getEventsByIdentifier_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Het id van het conflict",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/HALResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List all events",
        "operationId": "listAllEvents",
        "parameters": [
          {
            "name": "before_id",
            "in": "query",
            "description": "The identifier of the event used to retrieve its preceding events.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "starting_after_id",
            "in": "query",
            "description": "The identifier of the last event that the caller processed previously.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of events in the response.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "type": "integer",
              "format": "int32",
              "default": 10,
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "command_id",
            "in": "query",
            "description": "When present only events caused by this command will be shown.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "occurredAfter",
            "in": "query",
            "description": "When present only events after this timestamp will be shown.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "topic",
            "in": "query",
            "description": "When present only events that match this topic will be shown",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
          {
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/EventStream"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/events/{identifier}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get the event with the given identifier",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The identifier of the requested Event",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/embedParam"
          },
[...]
